
APP_URL='your app url' ## required for next-sitemap and stripe

GITHUB_ID='your github client ID' ## required for next-auth
GITHUB_SECRET='your github secret ID' ## required for next-auth

NEXTAUTH_SECRET='your next-auth secret' ## required for next-auth - generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_URL='http://localhost:3000' ## Only required for localhost

SANITY_API_READ_TOKEN='sanity api token key'
NEXT_PUBLIC_SANITY_PROJECT_ID='sanity project id'
NEXT_PUBLIC_SANITY_DATASET='sanity dataset defaul - production'